<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="icon"
    href="https://firebasestorage.googleapis.com/v0/b/school-fff9a.appspot.com/o/favicon.ico.ico?alt=media&token=3ef25aa8-5801-4677-85eb-c5c8aed3bde2"
  />
  <link
    rel="stylesheet"
    href="https://firebasestorage.googleapis.com/v0/b/school-fff9a.appspot.com/o/style.css?alt=media&token=bfbdbc96-1c11-4d4e-96ee-d009a6d08bd6"
  />
  <title>Simple Cloud</title>
</head>
<body style="background-color: #acfffc">
  <div class="topnav">
    <a class="active" href="/logout">Logout</a>
    <p
      id="currentuser"
      name="currentuser"
      style="float: right; color: white; padding-right: 5px"
    >
      <% if (user != null) { %> <%= "You're logged in as " + user + "." %> <% }
      %>
    </p>
  </div>
  <h1>Simple Cloud</h1>
  <button id="btn" style="float: right">Upload File</button>
  <input type="file" id="inp" style="float: right" />
  <div id="div"></div>
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js";
    import {
      getStorage,
      ref,
      uploadBytesResumable,
      getDownloadURL,
      listAll,
    } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-storage.js";
    import {
      getAuth,
      createUserWithEmailAndPassword,
      signInWithEmailAndPassword,
      onAuthStateChanged,
    } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-auth.js";

    const firebaseConfig = {
      apiKey: "AIzaSyAYu4LBl-MJsydo6mHEl1qnffTtteckkwM",
      authDomain: "school-fff9a.firebaseapp.com",
      projectId: "school-fff9a",
      storageBucket: "school-fff9a.appspot.com",
      messagingSenderId: "625820194936",
      appId: "1:625820194936:web:a9809af85889e01250f58d",
      measurementId: "G-XHBF8HKRP5",
    };

    const app = initializeApp(firebaseConfig);
    const storage = getStorage();
    const auth = getAuth();

    // Create the file metadata
    const metadata = {};

    document.getElementById("btn").addEventListener("click", uploadFile, false);
    window.addEventListener("load", listFiles, false);

    function uploadFile() {
      const file = document.querySelector("#inp").files[0];
      const storageRef = ref(storage, "files/" + file.name);
      const uploadTask = uploadBytesResumable(storageRef, file, metadata);
      uploadTask.on(
        "state_changed",
        (snapshot) => {
          const progress =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          console.log("Upload is " + progress + "% done");
          switch (snapshot.state) {
            case "paused":
              console.log("Upload is paused");
              break;
            case "running":
              console.log("Upload is running");
              break;
          }
        },
        (error) => {
          switch (error.code) {
            case "storage/unauthorized":
              break;
            case "storage/canceled":
              break;
            case "storage/unknown":
              break;
          }
        },
        () => {
          getDownloadURL(uploadTask.snapshot.ref).then((downloadURL) => {
            console.log("File available at", downloadURL);
            location.reload();
          });
        }
      );
    }

    async function listFiles() {
      const urls = await getURLs();
      const names = await getNames();
      for (let i = 0; i < urls.length && i < names.length; i++) {
        const a = document.createElement("a");
        const br = document.createElement("br");
        a.innerHTML = names[i];
        a.setAttribute("href", urls[i]);
        document.getElementById("div").appendChild(a);
        document.getElementById("div").appendChild(br);
      }
    }

    async function getURLs() {
      const res = await listAll(ref(storage, "files/"));
      const urlArray = [];
      for (const itemRef of res.items) {
        const downloadURL = await getDownloadURL(itemRef);
        urlArray.push(downloadURL);
      }
      return urlArray;
    }

    async function getNames() {
      const res = await listAll(ref(storage, "files/"));
      const nameArray = [];
      for (const itemRef of res.items) {
        const name = itemRef.name;
        nameArray.push(name);
      }
      return nameArray;
    }
  </script>
</body>
